.heroSection {
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .light {
    background: linear-gradient(to bottom right, #ffffff, #f0e6ff);
    color: #171717; /* Dark text for light mode */
  }
  
  .dark {
    background: linear-gradient(to bottom right, #1a1a1a, #2e1a4a);
    color: #f0f0f0; /* Light text for dark mode */
  }
  
  .title {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  .asterisk {
    color: #6600cc;
  }
  
  .tag {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border: 1px solid currentColor;
    border-radius: 9999px;
    margin-bottom: 1rem;
    white-space: nowrap; 
    max-width: fit-content; 
  }
  
  
  .greeting {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1rem;
    margin-bottom: 1rem;
    max-width: 800px;
  }
  
  .dark .asterisk {
    color: #9933ff;
  }
  
  .dark .tag {
    background-color: rgba(255, 255, 255, 0.1);
  }
  